# --- Model Weights & Training Artifacts ---
# PyTorch weights and YOLO models
*.pt

# --- YOLO/Ultralytics training runs ---
runs/

# --- Debug & Temporary Files ---
# Logs and temporary visualization outputs
debug_outputs/
debug_results/
*.cache
*.log

# --- Python Environment ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.egg-info/

# --- Build ---
build/*

# --- Assets ---
src/assets/thumbnails/*
!src/assets/thumbnails/.gitkeep
src/assets/weights/*
!src/assets/weights/.gitkeep
src/assets/item_database.json
src/assets/class_mapping.json

# --- Training ---
src/proofreader/train/emulator/backgrounds/*
!src/proofreader/train/emulator/backgrounds/.gitkeep
src/proofreader/train/emulator/templates/*
!src/proofreader/train/emulator/templates/.gitkeep
src/proofreader/train/dataset
